@use '../helpers/mixins';
@use '../helpers/variables';

@include mixins.select-wrapper-element {
  --skeletonizer-text-background: rgba(0, 0, 0, .2);
  display: contents;
  filter: grayscale(100%);
  pointer-events: none;

  * {
    pointer-events: none;
  }

  @include mixins.select-text-element {
    animation: text-animation 2s infinite ease-in-out;
    background: var(--skeletonizer-primary-color);
    border-radius: variables.$border-radius-text-line;
    color: rgba(0, 0, 0, 0) !important;

    @keyframes text-animation {
      0% {
        background: var(--skeletonizer-primary-color);
      }

      50% {
        background: var(--skeletonizer-secondary-color);
      }

      100% {
        background: var(--skeletonizer-primary-color);
      }
    }
  }
}
