# This workflow will run linter on push
name: Linter

on:
  push:
    branches-ignore:
      - main
  workflow_call:

jobs:
  run-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - run: npm ci
      - run: npm run lint
